h2, td {
  color: rebeccapurple
}

.gradientButtonOne {
	background:linear-gradient(to bottom, #ffcb9e 5%, #476e9e 100%);
	border-radius:7px;
  border: none;
  height: 40px;
  width: 100px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
}

.gradientButtonTwo {
	background:linear-gradient(to bottom, #ff9eab 5%, #476e9e 105%);
	border-radius:7px;
  height: 40px;
  width: 100px;
  border: none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
}

.blueButton {
  background-color: #40ccff;
	border-radius:5px;
  height: 30px;
  width: 70px;
  border: none;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
}
